<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Book List</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <h2>My Book List</h2>
                    <form class="d-flex" th:action="@{/books/search}"
                          method="get">
                        <input class="form-control me-2" type="search"
                               placeholder="Search" aria-label="Search" name="keyword">
                        <button class="btn btn-outline-success"
                                type="submit">Search
                        </button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th><a th:href="@{/books(pageNo=${currentPage}, sortBy='id')}">Id</a></th>
            <th><a th:href="@{/books(pageNo=${currentPage}, sortBy='title')}">Title</a></th>
            <th><a th:href="@{/books(pageNo=${currentPage}, sortBy='author')}">Author</a></th>
            <th><a th:href="@{/books(pageNo=${currentPage}, sortBy='price')}">Price</a></th>
            <th><a th:href="@{/books(pageNo=${currentPage}, sortBy='category')}">Category</a></th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.getId()}"></td>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAuthor()}"></td>
            <td th:text="${book.getPrice()}"></td>
            <td th:text="${book.getCategory().getName()}"></td>
            <td colspan="2">
            <td colspan="2">
                <a class="btn btn-primary"
                   sec:authorize="hasAnyAuthority('ADMIN')"
                   th:href="@{/books/edit/{id}(id=${book.getId()})}">Edit</a>
                <a class="btn btn-danger"
                   sec:authorize="hasAnyAuthority('ADMIN')"
                   th:href="@{/books/delete/{id}(id=${book.getId()})}"
                   onclick="return confirm('Are you sure you want to delete this book?')">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-sm"
        th:each="i : ${#numbers.sequence(0, totalPages)}">
        <li class="page-item" th:classappend="${currentPage == i} ? 'active'">
            <a class="page-link" th:href="@{/books(pageNo=${i})}"
               th:text="${i}"></a>
        </li>
    </ul>
</nav>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>

<!-- ///////////////////////////////////////////////////////////////////////// -->

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--      lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>My Book List</title>-->
<!--    <th:block th:replace="~{layout::link-css}"></th:block>-->
<!--</head>-->
<!--<body>-->
<!--<th:block th:replace="~{layout::header}"></th:block>-->
<!--<div class="container">-->
<!--    <table class="table">-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Title</th>-->
<!--            <th>Author</th>-->
<!--            <th>Price</th>-->
<!--            <th>Category</th>-->
<!--            <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>-->
<!--        </tr>-->
<!--        <tbody id="book-table-body"></tbody>-->
<!--    </table>-->
<!--</div>-->
<!--<script th:src="@{/js/jquery-3.7.1.min.js}"></script>-->
<!--<script th:src="@{/js/list.js}"></script>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $.ajax({-->
<!--            url: 'http://localhost:8080/api/v1/books',-->
<!--            type: 'GET',-->
<!--            dataType: 'json',-->
<!--            success: function (data) {-->
<!--                let trHTML = '';-->
<!--                $.each(data, function (i, item) {-->
<!--                    trHTML = trHTML + '<tr id="book-' + item.id + '">' +-->
<!--                        '<td>' + item.id + '</td>' +-->
<!--                        '<td>' + item.title + '</td>' +-->
<!--                        '<td>' + item.author + '</td>' +-->
<!--                        '<td>' + item.price + '</td>' +-->
<!--                        '<td>' + item.category + '</td>' +-->
<!--                        '<td>';-->

<!--                    trHTML += '<div th:if="${#authorization.expression(\'hasRole(\'\'ROLE_ADMIN\'\')\')}">' + // assuming sec:authorize works server-side and generates correct HTML-->
<!--                        '<a href="/books/edit/' + item.id + '" class="btn btn-success btn-sm">Edit</a>' +-->
<!--                        '<a href="/books" class="btn btn-danger btn-sm" onClick="return apiDeleteBook(' + item.id + ');">Delete</a>' +-->
<!--                        '</div>';-->

<!--                    // if (userRole === 'ADMIN') {-->
<!--                    //     trHTML += '<a href="/books/edit/' + item.id + '" class="btn btn-success btn-sm">Edit</a>' +-->
<!--                    //         '<a href="#" class="btn btn-danger btn-sm" onClick="return confirmDelete(' + item.id + ');">Delete</a>';-->
<!--                    // }-->
<!--                    trHTML += '</td></tr>';-->
<!--                    //-->
<!--                    // '<a href="#' + item.id + '" class="text-primary">Edit</a> | ' +-->
<!--                    // '<a href="/books' + item.id + 'class="text-danger" onclick="apiDeleteBook(' + item.id + ', this); return false;" sec:authorize="hasAuthority(\'ADMIN\')">Delete</a>' +-->
<!--                    // '</td>' +-->
<!--                    // '</tr>';-->
<!--                });-->
<!--                $('#book-table-body').append(trHTML);-->
<!--            }-->
<!--        });-->
<!--    });-->

<!--    function apiDeleteBook(id) {-->
<!--        if(confirm('Are you sure you want to delete?')) {-->
<!--            $.ajax({-->
<!--                url: 'http://localhost:8080/api/v1/books/' + id,-->
<!--                type: 'DELETE',-->
<!--                success: function () {-->
<!--                    alert('Book deleted successfully!');-->
<!--                    $('#book-' + id).remove();-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    }-->
<!--    function editBook(id) {-->
<!--        $.ajax({-->
<!--            url: `/api/v1/books/${id}`,-->
<!--            type: 'GET',-->
<!--            success: function(book) {-->
<!--                $('#Id').val(book.id);-->
<!--                $('#title').val(book.title);-->
<!--                $('#author').val(book.author);-->
<!--                $('#price').val(book.price);-->
<!--                $('#category').val(product.category);-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->
<!--<th:block th:replace="~{layout::footer}"></th:block>-->
<!--</body>-->
<!--</html>-->